body{
    background-color: black;
}

.grid-container{
    display: grid;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    width: 960px;
    height: 960px;
    border: 2px solid rgb(245, 85, 245);
    position: absolute;
}
.grid-div{
    background-color: white;  
}
.grid-div:hover{
    background-color: black;
}